<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="boardMapper">

	<!-- 공지사항 -->
	<resultMap type="com.potato.project.content.vo.NoticeVO" id="notice">
		<id column="NOTICE_CODE" 	 property="noticeCode"/>
		<result column="TITLE" 		 property="title"/>
		<result column="ID" 	 	 property="id"/>
		<result column="NAME" 		 property="name"/>
		<result column="CONTENT" 	 property="content"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="READ_CNT"    property="readCnt"/>
		<association property="attachFileVO" resultMap="noticeFile"></association>
	</resultMap>

	<!-- 공지사항 파일 첨부 -->
	<resultMap type="com.potato.project.common.vo.AttachFileVO" id="noticeFile">
		<id 	column="FILE_CODE" 			property="fileCode"/>
		<result column="ORIGIN_FILE_NAME" 	property="originFileName"/>
		<result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
		<result column="NOTICE_CODE" 		property="noticeCode"/>
 	</resultMap>
 	
	<!-- 문의상담 -->
	<resultMap type="com.potato.project.content.vo.QnaVO" id="qna">
		<id column="QNA_CODE" 		 property="qnaCode"/>
		<result column="TITLE" 		 property="title"/>
		<result column="ID" 	 	 property="id"/>
		<result column="NAME" 		 property="name"/>
		<result column="CONTENT" 	 property="content"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="QNA_PW" 	 property="qnaPw"/>
		<result column="ANSWER_CNT"  property="answerCnt"/>
	</resultMap>
	
	<!-- 문의 답변 -->
	<resultMap type="com.potato.project.content.vo.QnaAnswerVO" id="qnaAnswer">
		<id column="ANSWER_CODE" 	 property="answerCode"/>
		<result column="CONTENT" 	 property="content"/>
		<result column="ID" 	 	 property="id"/>
		<result column="NAME" 		 property="name"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="QNA_CODE" 	 property="qnaCode"/>
		<result column="ACNT"        property="acnt"/>
	</resultMap>
	
	<!-- 공지사항 리스트 조회 -->
	<select id="selectNoticeList" resultMap="notice">
		SELECT ROW_NUM
			 , NOTICE_CODE
			 , TITLE
			 , ID
			 , NAME
			 , CREATE_DATE
			 , READ_CNT
		FROM 
		(
			SELECT ROWNUM AS ROW_NUM
				 , NOTICE_CODE
				 , TITLE
				 , ID
				 , NAME
				 , CREATE_DATE
				 , READ_CNT
			FROM
			(
				SELECT ROWNUM AS ROW_NUM
					 , NOTICE_CODE
					 , TITLE
					 , ID
					 , NAME
					 , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE
					 , READ_CNT
			 FROM NOTICE
			<if test="searchValue != null and !searchValue.equals('')">
				WHERE UPPER(${searchKeyword}) LIKE '%'||UPPER(#{searchValue})||'%'
			</if> 
			 ORDER BY CREATE_DATE DESC
			 )
		)
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>
	
	<!-- 메인에 뜨는 이미지 있는 공지사항 -->
	<select id="mainNoticeList" resultMap="notice">
		SELECT N.NOTICE_CODE
		     , A.ATTACHED_FILE_NAME
		FROM NOTICE N, ATTACH_FILE A
		WHERE N.NOTICE_CODE = A.NOTICE_CODE
		AND A.ATTACHED_FILE_NAME IS NOT NULL
	</select>
	
	<!-- 메인 팝업에 뜨는 이미지 없는 공지사항 -->
	<select id="mainPopupNotice" resultMap="notice">
		SELECT NOTICE_CODE 
			 , TITLE 
			 , CONTENT
		FROM (SELECT * FROM NOTICE ORDER BY CREATE_DATE DESC)
		WHERE ROWNUM = 1
	</select>
	
	<!-- 공지사항 INSERT -->
	<insert id="insertNotice">
		INSERT INTO NOTICE(
			   NOTICE_CODE
			 , TITLE
			 , ID
			 , NAME
			 , CONTENT
			 , CREATE_DATE
		)VALUES(
			   (SELECT 'NOTICE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(NOTICE_CODE, 8, 3))), 0) + 1, 3, '0') FROM NOTICE)	
			 , #{title}
			 , #{id}
			 , #{name}
			 , #{content}
			 , #{createDate}
		)
	</insert>
	
	<!-- 공지사항 총 개수 -->
	<select id="cntNotice" resultType="int">
		SELECT COUNT(NOTICE_CODE) 
		FROM NOTICE
		<if test="searchValue != null and !searchValue.equals('')">
			WHERE UPPER(${searchKeyword}) LIKE '%'||UPPER(#{searchValue})||'%'
		</if> 
	</select>
	
	<!-- 공지사항 파일 첨부를 위한 공지사항 코드 생성  -->
	<select id="selectNoticeCode" resultType="String">
		SELECT 'NOTICE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(NOTICE_CODE, 8, 3))), 0), 3, '0') 
		FROM NOTICE
	</select>
	
	<!-- 공지사항 파일 첨부를 위한 파일 코드 넘버 조회 -->
	<select id="nextFileCodeNum" resultType="int">
		SELECT NVL(MAX(TO_NUMBER(SUBSTR(FILE_CODE, 6, 3))) + 1, 1) 
		FROM ATTACH_FILE
	</select>

	<!-- 공지사항 파일 첨부 insert -->
	<insert id="insertNoticeFile">
		INSERT INTO ATTACH_FILE(
		    FILE_CODE
		    ,ORIGIN_FILE_NAME
		    ,ATTACHED_FILE_NAME
		    ,NOTICE_CODE
		) VALUES (
		    #{attachFileVO.fileCode}
		    ,#{attachFileVO.originFileName}
		    ,#{attachFileVO.attachedFileName}
		    ,#{attachFileVO.noticeCode}
		)
	</insert>
	
	<!-- 공지사항 상세보기 -->
	<select id="selectNotice" resultMap="notice">
		SELECT NOTICE_CODE
			 , TITLE
			 , ID
			 , NAME
			 , CONTENT
			 , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE
			 , READ_CNT
			 , (SELECT ATTACHED_FILE_NAME FROM ATTACH_FILE WHERE NOTICE_CODE = #{noticeCode}) AS ATTACHED_FILE_NAME
		FROM NOTICE
		WHERE NOTICE_CODE = #{noticeCode}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateReadCnt">
		UPDATE NOTICE
		SET
		READ_CNT = READ_CNT + 1
		WHERE NOTICE_CODE = #{noticeCode}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice">
		DELETE 
		FROM NOTICE
		WHERE NOTICE_CODE = #{noticeCode}
	</delete>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice">
		UPDATE NOTICE
		SET 
			TITLE = #{title}
		  , CONTENT = #{content}
		WHERE NOTICE_CODE = #{noticeCode}
	</update>
	
	<!--............................... 상담문의 부분 .....................................-->
	
	<!-- 문의상담 리스트 조회 -->
	<select id="selectQnaList" resultMap="qna">
	 	SELECT ROW_NUM 
		     , QNA_CODE 
		     , TITLE
		     , ID
		     , NAME
		     , CREATE_DATE
		     , QNA_PW
		     , ANSWER_CNT
		FROM
		(
		SELECT ROWNUM AS ROW_NUM 
		     , QNA_CODE 
		     , TITLE
		     , ID
		     , NAME
		     , CREATE_DATE
		     , QNA_PW
		     , ANSWER_CNT
		FROM
		(
		         SELECT ROWNUM AS ROW_NUM 
		             , QNA_CODE 
				     , TITLE
				     , ID
				     , CONCAT(SUBSTR(NAME,1,1),'**') AS NAME
				     , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE
				     , QNA_PW
				     , ANSWER_CNT
				FROM QNA
		        ORDER BY QNA_CODE DESC
		 	)    
		)
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>
	
	<!-- 상담문의 총 개수 -->
	<select id="cntQna" resultType="int">
		SELECT COUNT(QNA_CODE) 
		FROM QNA
	</select>
	
	<!-- 문의상담 INSERT -->
	<insert id="insertQna">
		INSERT INTO QNA(
	            QNA_CODE
	          , TITLE
	          , ID
	          , NAME
	          , CONTENT
	          , CREATE_DATE
	          , QNA_PW
		)VALUES(
				(SELECT 'QNA_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(QNA_CODE, 5, 3))), 0) + 1, 3, '0') FROM QNA)
				,#{title}
				,#{id}
				,#{name}
				,#{content}
				,#{createDate}
				,#{qnaPw}
	)
	</insert>
	
	<!-- 상담문의 상세보기 -->
	<select id="selectQna" resultMap="qna">
		SELECT QNA_CODE
		     , TITLE
		     , ID
		     , NAME
		     , CONTENT
		     , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE
			 , QNA_PW
			 , ANSWER_CNT
		FROM QNA
		WHERE QNA_CODE = #{qnaCode} 
	</select>
	
	<!-- 상담문의 답변 추가하기 -->
	<insert id="insertAnswer">
		INSERT INTO QNA_ANSWER(
		            ANSWER_CODE
		          , CONTENT
		          , ID
		          , NAME
		          , CREATE_DATE
		          , QNA_CODE
		)VALUES(
		        (SELECT 'ANSWER_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ANSWER_CODE, 8, 3))), 0) + 1, 3, '0') FROM QNA_ANSWER)
		        ,#{content}
		        ,#{id}
		        ,#{name}
		        ,#{createDate}
		        ,#{qnaCode}
		)
	</insert>
	
	<!-- 문의글 답변 등록 후 답변CNT 업데이트 -->
	<update id="updateAcnt">
		UPDATE QNA
		SET ANSWER_CNT = ANSWER_CNT + 1
		WHERE QNA_CODE = #{qnaCode}
	</update>
	
	<!-- 문의글 답변 삭제 후 답변CNT 업데이트 -->
	<update id="updateDeleteAcnt">
		UPDATE QNA
		SET ANSWER_CNT = ANSWER_CNT - 1
		WHERE QNA_CODE = #{qnaCode}
	</update>
	
	<!-- 상담문의 답변 조회 -->
	<select id="selectAnsewerList" resultMap="qnaAnswer">
		SELECT ANSWER_CODE
		     , CONTENT
		     , ID
		     , NAME
		     , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE
		     , QNA_CODE
		FROM QNA_ANSWER
		WHERE QNA_CODE = #{qnaCode}
	</select>
	
	<!-- 문의글, 답변 동시 삭제 -->
	<delete id="deleteQna">
		DELETE 
		FROM QNA
		WHERE QNA_CODE = #{qnaCode}
	</delete>
	
	<!-- 답변 전체 삭제 -->
    <delete id="deleteAnswer">
		DELETE 
		FROM (SELECT A.ANSWER_CODE
		      FROM QNA Q, QNA_ANSWER A
		      WHERE Q.QNA_CODE = A.QNA_CODE
		      AND A.QNA_CODE = #{qnaCode})
	</delete>
	
</mapper>