<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	
	<!-- resultmap 작성 카운트용 추가 1025봉 -->
	<resultMap type="com.potato.project.member.vo.MemberVO" id="member">
		<id column="ID" 				property="id"/>
		<result column="PW" 			property="pw"/>
		<result column="NAME" 			property="name"/>
		<result column="ADDR" 			property="addr"/>
		<result column="TELL" 			property="tell"/>
		<result column="BIRTH" 			property="birth"/>
		<result column="IS_ADMIN" 		property="isAdmin"/>
		<result column="IS_DELETE" 		property="isDelete"/>
		<result column="GENDER" 		property="gender"/>
		<result column="FAVORITE" 		property="favorite"/>
		<result column="RENTAL_CNT" 	property="rentalCnt"/>
		<result column="RESERVE_CNT" 	property="reserveCnt"/>
	</resultMap>
	
	<resultMap type="com.potato.project.common.vo.MessageVO" id="message">
		<id column="MESSAGE_CODE" 			property="messageCode"/>
		<result column="FROM_ID" 			property="fromId"/>
		<result column="TO_ID" 				property="toId"/>
		<result column="SEND_DATE" 			property="sendDate"/>
		<result column="CONTENT" 			property="content"/>
		<result column="IS_READ" 			property="isRead"/>
	</resultMap>
	
	<!-- 회원등록 -->
	<insert id="insertMember">
		INSERT INTO MEMBER (
			ID
			, PW
			, NAME
			, TELL
			, BIRTH
			, ADDR
			<if test="gender != null and !gender.equals('')">
			, GENDER
			</if>
			<if test="favorite != null and !favorite.equals('')">
			, FAVORITE
			</if>
		) VALUES (
			#{id}
			, #{pw}
			, #{name}
			, #{tell}
			, #{birth}
			, #{addr}
			<if test="gender != null and !gender.equals('')">
			, #{gender}
			</if>
			<if test="favorite != null and !favorite.equals('')">
			, #{favorite}
			</if>
		)
	</insert>
	
	<!-- 로그인 -->
	<select id="selectMember" resultMap="member">
		SELECT
    		ID
    		, NAME
    		, IS_ADMIN
    		, IS_DELETE
		FROM MEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="selectMemberId" resultType="String">
		SELECT ID
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<!-- 회원목록조회 -->
	<select id="selectMemberListAndBookCnt" resultMap="member">
		SELECT 
            ROW_NUM
		    , RENTAL_CNT
		    , RESERVE_CNT
		    , ID
		    , NAME
		    , BIRTH
		FROM (
	            SELECT
		            ROWNUM AS ROW_NUM
				    , RENTAL_CNT
				    , RESERVE_CNT
				    , ID
				    , NAME
				    , BIRTH    
                FROM (
                    SELECT
	                    ROWNUM AS ROW_NUM
	                    , (SELECT COUNT(BOOK_CODE) FROM RENTAL WHERE RETURN_DATE IS NULL AND ID = MEMBER.ID) AS RENTAL_CNT
	                    , (SELECT COUNT(BOOK_CODE) FROM RESERVE WHERE ID = MEMBER.ID) AS RESERVE_CNT
	                    , ID
	                    , NAME
	                    , TO_CHAR(BIRTH,'YYYY-MM-DD') AS BIRTH
                    FROM MEMBER
                    WHERE IS_DELETE = 'N' 
                    AND IS_ADMIN = 'N'
                    <if test="searchValue != null and !searchValue.equals('')">
                    AND UPPER(ID) LIKE UPPER('%'||#{searchValue}||'%')
                    </if>
                    ORDER BY ID
                )
        )
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>

	<!-- 페이징 처리를 위한 총 회원 수 조회 -->
	<select id="countMember" resultType="int">
		SELECT COUNT(ID)
		FROM MEMBER
		WHERE IS_ADMIN = 'N'
		<if test="searchValue != null and !searchValue.equals('')">
		AND UPPER(ID) LIKE UPPER('%'||#{searchValue}||'%')
		</if>
	</select>
	
	<!-- 알림 보내기 -->
	<insert id="insertMessage">
		INSERT INTO MESSAGE (
		    MESSAGE_CODE
		    , TO_ID
		    , CONTENT
		) VALUES (
		    (SELECT 'MESSAGE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MESSAGE_CODE,9,4))),0) + 1,4,0) FROM MESSAGE)
		    , #{toId}
		    , #{content}
		)
	</insert>
	
	<!-- 회원의 읽지 않은 알림 갯수 조회 -->
	<select id="countUnreadMessage" resultType="int">
		SELECT COUNT(MESSAGE_CODE)
		FROM MESSAGE
		WHERE IS_READ = 'N'
		AND TO_ID = #{id}
	</select>
	
	<!-- 회원의 알림 목록 조회 -->
	<select id="selectMemberMessage" resultMap="message">
		SELECT
		    MESSAGE_CODE
		    , TO_ID
		    , FROM_ID
		    , CONTENT
		    , SEND_DATE
		    , IS_READ
		FROM MESSAGE
		<if test="!toId.equals('admin')">
		WHERE TO_ID = #{toId}
		</if>
		<if test="toId.equals('admin')">
		WHERE FROM_ID = #{toId}
		</if>
		ORDER BY SEND_DATE DESC
	</select>
	
	<!-- 알림 읽음으로 변경 -->
	<update id="updateMessageRead">
		UPDATE MESSAGE 
		SET IS_READ = 'Y' 
		WHERE MESSAGE_CODE = #{messageCode}
	</update>
	
	<!-- 알림 삭제 -->
	<delete id="deleteMessage">
		DELETE MESSAGE
		WHERE MESSAGE_CODE = #{messageCode}
	</delete>
	
	<!-- 아이디 찾기 -->
	<select id="findIdFromNameAndBirth" resultType="String">
		SELECT ID
		FROM MEMBER
		WHERE NAME = #{name}
		AND BIRTH = #{birth}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPwFromIdAndTellAndBirth" resultType="String">
		SELECT PW
		FROM MEMBER
		WHERE ID = #{id}
		AND TELL = #{tell}
		AND BIRTH = #{birth}
	</select>
		
</mapper>












