<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	
	<!-- resultmap 작성 -->
	<resultMap type="com.potato.project.member.vo.MemberVO" id="member">
		<id column="ID" 				property="id"/>
		<result column="PW" 			property="pw"/>
		<result column="NAME" 			property="name"/>
		<result column="ADDR" 			property="addr"/>
		<result column="TELL" 			property="tell"/>
		<result column="IS_ADMIN" 		property="isAdmin"/>
		<result column="IS_DELETE" 		property="isDelete"/>
		<result column="GENDER" 		property="gender"/>
		<result column="FAVORITE" 		property="favorite"/>
	</resultMap>
	
	<insert id="insertMember">
		INSERT INTO MEMBER (
			ID
			, PW
			, NAME
			, TELL
			, ADDR
			<if test="gender != null and !gender.equals('')">
			, GENDER
			</if>
			<if test="gender != null and !gender.equals('')">
			, FAVORITE
			</if>
		) VALUES (
			#{id}
			, #{pw}
			, #{name}
			, #{tell}
			, #{addr}
			<if test="gender != null and !gender.equals('')">
			, #{gender}
			</if>
			<if test="gender != null and !gender.equals('')">
			, #{favorite}
			</if>
		)
	</insert>
	
</mapper>












