<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	
	<!-- resultmap 작성 카운트용 추가 1025봉 -->
	<resultMap type="com.potato.project.member.vo.MemberVO" id="member">
		<id column="ID" 				property="id"/>
		<result column="PW" 			property="pw"/>
		<result column="NAME" 			property="name"/>
		<result column="ADDR" 			property="addr"/>
		<result column="TELL" 			property="tell"/>
		<result column="BIRTH" 			property="birth"/>
		<result column="IS_ADMIN" 		property="isAdmin"/>
		<result column="IS_DELETE" 		property="isDelete"/>
		<result column="GENDER" 		property="gender"/>
		<result column="FAVORITE" 		property="favorite"/>
		<result column="BOOK_CNT" 		property="bookCnt"/>
	</resultMap>
	
	<!-- 회원등록 -->
	<insert id="insertMember">
		INSERT INTO MEMBER (
			ID
			, PW
			, NAME
			, TELL
			, BIRTH
			, ADDR
			<if test="gender != null and !gender.equals('')">
			, GENDER
			</if>
			<if test="favorite != null and !favorite.equals('')">
			, FAVORITE
			</if>
		) VALUES (
			#{id}
			, #{pw}
			, #{name}
			, #{tell}
			, #{birth}
			, #{addr}
			<if test="gender != null and !gender.equals('')">
			, #{gender}
			</if>
			<if test="favorite != null and !favorite.equals('')">
			, #{favorite}
			</if>
		)
	</insert>
	
	<!-- 로그인 -->
	<select id="selectMember" resultMap="member">
		SELECT
    		ID
    		, NAME
    		, IS_ADMIN
		FROM MEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="selectMemberId" resultType="String">
		SELECT ID
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<!-- 회원목록조회 -->
	<select id="selectMemberListAndBookCnt">
		SELECT
		    (SELECT COUNT(BOOK_CODE) FROM RENTAL WHERE ID = 'java' AND RETURN_DATE IS NULL) + 
		    (SELECT COUNT(BOOK_CODE) FROM RESERVE WHERE ID = 'java') AS BOOK_CNT
		    , ID
		    , NAME
		    , BIRTH
		FROM MEMBER
		WHERE IS_DELETE = 'N'	
	</select>
	
</mapper>












