<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="serviceMapper">

			<resultMap type="com.potato.project.service.vo.ReadingRecordVO" id="record">
			<id 	column="RECORD_CODE" 		property="recordCode"	/>
			<result column="SEAT_CODE" 			property="seatCode" 	/>
			<result column="ID" 				property="id" 			/>
			<result column="SEAT_IN_DATE" 		property="seatInDate"	/>
			<result column="SEAT_OUT_DATE" 		property="seatOutDate"	/>
			</resultMap>
			
			<resultMap type="com.potato.project.service.vo.ReadingSeatVO" id="seat">
			<id 	column="SEAT_CODE" 			property="seatCode"		/>
			<result column="SEAT_STATUS" 		property="seatStatus" 	/>
			<result column="ID" 				property="id" 			/>
			</resultMap>
			<select id="selectReadingSeat" resultMap="seat">
			SELECT SEAT_CODE
					,SEAT_STATUS
					,ID
					FROM READING_SEAT
			</select>
			<select id="chooseSeat" resultMap="seat">
			SELECT SEAT_CODE
					,SEAT_STATUS
					,ID
					FROM READING_SEAT
					WHERE SEAT_CODE = #{seatCode }
			</select>
			<update id="seatUpdate">
			UPDATE READING_SEAT
			SET ID = #{id} , SEAT_STATUS = #{seatStatus}
			WHERE SEAT_CODE = #{seatCode}
			</update>
			<select id="seatIdCheck" resultType="String">
			SELECT ID
				FROM READING_SEAT
				WHERE ID = #{id }			
			</select>
			<select id="seatMemberIdCheck" resultType="String">
			SELECT ID
				FROM MEMBER
				WHERE ID = #{id }
			</select> 
			<insert id="seatInRecord">                                             
			INSERT INTO READING_RECORD(
			RECORD_CODE     
 			, SEAT_CODE        
 			, ID                  	                                                        
			)VALUES(                                                
			(SELECT 'RECORD_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RECORD_CODE,8,3))),0)+1,3,'0')AS RECORD_CODE FROM READING_RECORD)
			, #{seatCode }                                                        
			, #{id }
			)			                                            
			</insert>                                                              
			<update id="seatOutRecord">
			UPDATE READING_RECORD
			SET SEAT_OUT_DATE = SYSDATE
			WHERE RECORD_CODE = 
			(SELECT 'RECORD_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RECORD_CODE,8,3))),0),3,'0') AS RECORD_CODE 
			FROM READING_RECORD WHERE ID = #{id })
			</update>
			<select id="seatRecordList" resultMap="record">
			SELECT 
			RECORD_CODE
			, SEAT_CODE
			, ID
			, SEAT_IN_DATE
			, SEAT_OUT_DATE 
			FROM READING_RECORD
			</select>
</mapper>









